<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AI_HEALTH.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>FD6A080D04B4F7F62F1364A8AF163C0F1802C082</string>
				<key>dateExpires</key>
				<string>10/9/20</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FD6A080D04B4F7F62F1364A8AF163C0F1802C082</string>
						<key>dateExpires</key>
						<string>10/9/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AXPhotoViewer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>28ZW86LB93</string>
						<key>name</key>
						<string>AI PACIFIC ARTIFICIAL INTELLIGENCE JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FD6A080D04B4F7F62F1364A8AF163C0F1802C082</string>
						<key>dateExpires</key>
						<string>10/9/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AXStateButton.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>28ZW86LB93</string>
						<key>name</key>
						<string>AI PACIFIC ARTIFICIAL INTELLIGENCE JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FD6A080D04B4F7F62F1364A8AF163C0F1802C082</string>
						<key>dateExpires</key>
						<string>10/9/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FLAnimatedImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>28ZW86LB93</string>
						<key>name</key>
						<string>AI PACIFIC ARTIFICIAL INTELLIGENCE JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FD6A080D04B4F7F62F1364A8AF163C0F1802C082</string>
						<key>dateExpires</key>
						<string>10/9/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>28ZW86LB93</string>
						<key>name</key>
						<string>AI PACIFIC ARTIFICIAL INTELLIGENCE JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FD6A080D04B4F7F62F1364A8AF163C0F1802C082</string>
						<key>dateExpires</key>
						<string>10/9/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Instabug.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>28ZW86LB93</string>
						<key>name</key>
						<string>AI PACIFIC ARTIFICIAL INTELLIGENCE JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FD6A080D04B4F7F62F1364A8AF163C0F1802C082</string>
						<key>dateExpires</key>
						<string>10/9/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>28ZW86LB93</string>
						<key>name</key>
						<string>AI PACIFIC ARTIFICIAL INTELLIGENCE JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FD6A080D04B4F7F62F1364A8AF163C0F1802C082</string>
						<key>dateExpires</key>
						<string>10/9/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Lottie.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>28ZW86LB93</string>
						<key>name</key>
						<string>AI PACIFIC ARTIFICIAL INTELLIGENCE JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FD6A080D04B4F7F62F1364A8AF163C0F1802C082</string>
						<key>dateExpires</key>
						<string>10/9/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>28ZW86LB93</string>
						<key>name</key>
						<string>AI PACIFIC ARTIFICIAL INTELLIGENCE JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FD6A080D04B4F7F62F1364A8AF163C0F1802C082</string>
						<key>dateExpires</key>
						<string>10/9/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Realm.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>28ZW86LB93</string>
						<key>name</key>
						<string>AI PACIFIC ARTIFICIAL INTELLIGENCE JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FD6A080D04B4F7F62F1364A8AF163C0F1802C082</string>
						<key>dateExpires</key>
						<string>10/9/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RealmSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>28ZW86LB93</string>
						<key>name</key>
						<string>AI PACIFIC ARTIFICIAL INTELLIGENCE JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FD6A080D04B4F7F62F1364A8AF163C0F1802C082</string>
						<key>dateExpires</key>
						<string>10/9/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwipeCellKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>28ZW86LB93</string>
						<key>name</key>
						<string>AI PACIFIC ARTIFICIAL INTELLIGENCE JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FD6A080D04B4F7F62F1364A8AF163C0F1802C082</string>
						<key>dateExpires</key>
						<string>10/9/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>TTBaseUIKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>28ZW86LB93</string>
						<key>name</key>
						<string>AI PACIFIC ARTIFICIAL INTELLIGENCE JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FD6A080D04B4F7F62F1364A8AF163C0F1802C082</string>
						<key>dateExpires</key>
						<string>10/9/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>28ZW86LB93</string>
						<key>name</key>
						<string>AI PACIFIC ARTIFICIAL INTELLIGENCE JOINT STOCK COMPANY</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>28ZW86LB93.vn.aipacific.ai-health</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>28ZW86LB93</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>AI_HEALTH.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>1a0335bf-467a-41bf-a118-b7862798659e</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: vn.aipacific.ai-health</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>28ZW86LB93</string>
				<key>name</key>
				<string>AI PACIFIC ARTIFICIAL INTELLIGENCE JOINT STOCK COMPANY</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
