<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
                    
                    <key>kind</key>
					<string>software-package</string>
					<key>url</key>	<string>https://tqtuan1201.github.io/BuildApp/AiHealth/AI_HEALTH.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://12bay.vn/static/media/logo.08e85239.svg</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://12bay.vn/static/media/logo.08e85239.svg</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>vn.aipacific.ai-health</string>
				<key>bundle-version</key>
				<string>1.0.6</string>
				<key>kind</key>
				<string>software</string>
				<key>platform-identifier</key>
				<string>com.apple.platform.iphoneos</string>
				<key>title</key>
				<string>AI_HEALTH</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
