<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PVN-NDL-USER.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>D4B68BCD4FCFB40CC93777C9060684D9C65AF612</string>
				<key>dateExpires</key>
				<string>8/29/21</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D4B68BCD4FCFB40CC93777C9060684D9C65AF612</string>
						<key>dateExpires</key>
						<string>8/29/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NWP32GXP5M</string>
						<key>name</key>
						<string>Tuan truong quang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D4B68BCD4FCFB40CC93777C9060684D9C65AF612</string>
						<key>dateExpires</key>
						<string>8/29/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NWP32GXP5M</string>
						<key>name</key>
						<string>Tuan truong quang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D4B68BCD4FCFB40CC93777C9060684D9C65AF612</string>
						<key>dateExpires</key>
						<string>8/29/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NWP32GXP5M</string>
						<key>name</key>
						<string>Tuan truong quang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D4B68BCD4FCFB40CC93777C9060684D9C65AF612</string>
						<key>dateExpires</key>
						<string>8/29/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NWP32GXP5M</string>
						<key>name</key>
						<string>Tuan truong quang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D4B68BCD4FCFB40CC93777C9060684D9C65AF612</string>
						<key>dateExpires</key>
						<string>8/29/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Lottie.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NWP32GXP5M</string>
						<key>name</key>
						<string>Tuan truong quang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D4B68BCD4FCFB40CC93777C9060684D9C65AF612</string>
						<key>dateExpires</key>
						<string>8/29/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>TTBaseUIKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NWP32GXP5M</string>
						<key>name</key>
						<string>Tuan truong quang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D4B68BCD4FCFB40CC93777C9060684D9C65AF612</string>
						<key>dateExpires</key>
						<string>8/29/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NWP32GXP5M</string>
						<key>name</key>
						<string>Tuan truong quang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D4B68BCD4FCFB40CC93777C9060684D9C65AF612</string>
						<key>dateExpires</key>
						<string>8/29/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NWP32GXP5M</string>
						<key>name</key>
						<string>Tuan truong quang</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>NWP32GXP5M.phuviecnhanh.vn-employee</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>NWP32GXP5M</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>PHỤ VIỆC NHANH.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>4acc0b36-f83a-4dd9-9e1f-70e42c208f64</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: phuviecnhanh.vn-employee</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>NWP32GXP5M</string>
				<key>name</key>
				<string>Tuan truong quang</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
