<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LB KIỂM DUYỆT.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>22</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>FD3C4358518C3D79F393B23DB6EDD81AE02B1D64</string>
				<key>dateExpires</key>
				<string>8/10/23</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FD3C4358518C3D79F393B23DB6EDD81AE02B1D64</string>
						<key>dateExpires</key>
						<string>8/10/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Cosmos.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NWP32GXP5M</string>
						<key>name</key>
						<string>Tuan truong quang</string>
					</dict>
					<key>versionNumber</key>
					<string>23.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FD3C4358518C3D79F393B23DB6EDD81AE02B1D64</string>
						<key>dateExpires</key>
						<string>8/10/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NWP32GXP5M</string>
						<key>name</key>
						<string>Tuan truong quang</string>
					</dict>
					<key>versionNumber</key>
					<string>2.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FD3C4358518C3D79F393B23DB6EDD81AE02B1D64</string>
						<key>dateExpires</key>
						<string>8/10/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseABTesting.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NWP32GXP5M</string>
						<key>name</key>
						<string>Tuan truong quang</string>
					</dict>
					<key>versionNumber</key>
					<string>9.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FD3C4358518C3D79F393B23DB6EDD81AE02B1D64</string>
						<key>dateExpires</key>
						<string>8/10/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NWP32GXP5M</string>
						<key>name</key>
						<string>Tuan truong quang</string>
					</dict>
					<key>versionNumber</key>
					<string>9.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FD3C4358518C3D79F393B23DB6EDD81AE02B1D64</string>
						<key>dateExpires</key>
						<string>8/10/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuthUI.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NWP32GXP5M</string>
						<key>name</key>
						<string>Tuan truong quang</string>
					</dict>
					<key>versionNumber</key>
					<string>12.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FD3C4358518C3D79F393B23DB6EDD81AE02B1D64</string>
						<key>dateExpires</key>
						<string>8/10/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NWP32GXP5M</string>
						<key>name</key>
						<string>Tuan truong quang</string>
					</dict>
					<key>versionNumber</key>
					<string>9.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FD3C4358518C3D79F393B23DB6EDD81AE02B1D64</string>
						<key>dateExpires</key>
						<string>8/10/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NWP32GXP5M</string>
						<key>name</key>
						<string>Tuan truong quang</string>
					</dict>
					<key>versionNumber</key>
					<string>9.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FD3C4358518C3D79F393B23DB6EDD81AE02B1D64</string>
						<key>dateExpires</key>
						<string>8/10/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NWP32GXP5M</string>
						<key>name</key>
						<string>Tuan truong quang</string>
					</dict>
					<key>versionNumber</key>
					<string>9.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FD3C4358518C3D79F393B23DB6EDD81AE02B1D64</string>
						<key>dateExpires</key>
						<string>8/10/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NWP32GXP5M</string>
						<key>name</key>
						<string>Tuan truong quang</string>
					</dict>
					<key>versionNumber</key>
					<string>9.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FD3C4358518C3D79F393B23DB6EDD81AE02B1D64</string>
						<key>dateExpires</key>
						<string>8/10/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NWP32GXP5M</string>
						<key>name</key>
						<string>Tuan truong quang</string>
					</dict>
					<key>versionNumber</key>
					<string>9.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FD3C4358518C3D79F393B23DB6EDD81AE02B1D64</string>
						<key>dateExpires</key>
						<string>8/10/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebasePerformance.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NWP32GXP5M</string>
						<key>name</key>
						<string>Tuan truong quang</string>
					</dict>
					<key>versionNumber</key>
					<string>9.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FD3C4358518C3D79F393B23DB6EDD81AE02B1D64</string>
						<key>dateExpires</key>
						<string>8/10/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebasePhoneAuthUI.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NWP32GXP5M</string>
						<key>name</key>
						<string>Tuan truong quang</string>
					</dict>
					<key>versionNumber</key>
					<string>12.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FD3C4358518C3D79F393B23DB6EDD81AE02B1D64</string>
						<key>dateExpires</key>
						<string>8/10/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseRemoteConfig.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NWP32GXP5M</string>
						<key>name</key>
						<string>Tuan truong quang</string>
					</dict>
					<key>versionNumber</key>
					<string>9.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FD3C4358518C3D79F393B23DB6EDD81AE02B1D64</string>
						<key>dateExpires</key>
						<string>8/10/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NWP32GXP5M</string>
						<key>name</key>
						<string>Tuan truong quang</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FD3C4358518C3D79F393B23DB6EDD81AE02B1D64</string>
						<key>dateExpires</key>
						<string>8/10/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NWP32GXP5M</string>
						<key>name</key>
						<string>Tuan truong quang</string>
					</dict>
					<key>versionNumber</key>
					<string>9.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FD3C4358518C3D79F393B23DB6EDD81AE02B1D64</string>
						<key>dateExpires</key>
						<string>8/10/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NWP32GXP5M</string>
						<key>name</key>
						<string>Tuan truong quang</string>
					</dict>
					<key>versionNumber</key>
					<string>7.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FD3C4358518C3D79F393B23DB6EDD81AE02B1D64</string>
						<key>dateExpires</key>
						<string>8/10/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NWP32GXP5M</string>
						<key>name</key>
						<string>Tuan truong quang</string>
					</dict>
					<key>versionNumber</key>
					<string>7.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FD3C4358518C3D79F393B23DB6EDD81AE02B1D64</string>
						<key>dateExpires</key>
						<string>8/10/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Lottie.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NWP32GXP5M</string>
						<key>name</key>
						<string>Tuan truong quang</string>
					</dict>
					<key>versionNumber</key>
					<string>3.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FD3C4358518C3D79F393B23DB6EDD81AE02B1D64</string>
						<key>dateExpires</key>
						<string>8/10/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>TTBaseUIKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NWP32GXP5M</string>
						<key>name</key>
						<string>Tuan truong quang</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.54</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FD3C4358518C3D79F393B23DB6EDD81AE02B1D64</string>
						<key>dateExpires</key>
						<string>8/10/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>TagListView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NWP32GXP5M</string>
						<key>name</key>
						<string>Tuan truong quang</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FD3C4358518C3D79F393B23DB6EDD81AE02B1D64</string>
						<key>dateExpires</key>
						<string>8/10/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NWP32GXP5M</string>
						<key>name</key>
						<string>Tuan truong quang</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30909.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>NWP32GXP5M.tqt.partner.ios.warehouse.lb.verify</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>NWP32GXP5M</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>LB KIỂM DUYỆT.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>c5eb437d-c05e-4afb-af5a-39da13ac2e2f</string>
				<key>dateExpires</key>
				<string>8/10/23</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: tqt.partner.ios.warehouse.lb.verify</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>NWP32GXP5M</string>
				<key>name</key>
				<string>Tuan truong quang</string>
			</dict>
			<key>versionNumber</key>
			<string>1.1.0</string>
		</dict>
	</array>
</dict>
</plist>
